.git
.github
.venv

**/__pycache__
**/*.pyc
**/.pytest_cache
**/.DS_Store

frontend/node_modules
frontend/dist

ml/data
ml/reports/training/accessibility-baseline/*
!ml/reports/training/accessibility-baseline/weights/
ml/reports/training/accessibility-baseline/weights/*
!ml/reports/training/accessibility-baseline/weights/best.pt

runs
*.log
